services:
  app:
      build:
        context: .
        dockerfile: Dockerfile
      restart: unless-stopped
      ports:
        - "5000:5000"
      environment:
        - FIREBASE_SERVICE_ACCOUNT_FILE=firebase.json