# name: Deploy NodeJS Application to Hostinger

# on:
#   push:
#     branches:
#       - main

# jobs:
#   Deploy:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout Code
#         uses: actions/checkout@v4

#       - name: Deploy via SSH
#         uses: appleboy/ssh-action@v1.0.3
#         with:
#           host: ${{ secrets.SSH_HOST }}
#           username: root
#           key: ${{ secrets.SSH_KEY }}
#           script: |
#             cd /root/Magic-Formula-Backend
#             git pull origin main
#             docker compose down
#             docker compose up -d --build


name: Deploy NodeJS Application to Hostinger

on:
  push:
    branches:
      - main

jobs:
  Deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: root
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /root/Magic-Formula-Backend

            echo "Pull latest code"
            git pull origin main

            echo "Stopping old containers"
            docker compose down --remove-orphans

            echo "Removing stopped containers"
            docker container prune -f

            echo "Removing unused networks"
            docker network prune -f

            echo "Rebuilding and starting containers"
            docker compose up -d --build

            echo "Deploy complete"
